<div class="outer-container">
  <h1>Success!</h1>
  <ul>
    <li>Check your email for more info</li>
    <li>You'll receive 1 shipment every week</li>
    <li>Cancel at any time</li>
  </ul>

<br/>
<br/>
  <img width="400" src="https://pagely.c.presscdn.com/wp-content/uploads/2014/10/SumoMe-Social-Sharing-Buttons.png"/>
</div>
